<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- BootStrap -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
			crossorigin="anonymous"
		/>
		<!-- Feuille CSS -->
		<link rel="stylesheet" href="../public/assets/css/style.css" />
		<!-- Favicon -->
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="../public/assets/favicon/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="../public/assets/favicon/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="../public/assets/favicon/favicon-16x16.png"
		/>
		<link rel="manifest" href="../public/assets/favicon/site.webmanifest" />
		<meta name="msapplication-TileColor" content="#da532c" />
		<meta name="theme-color" content="#ffffff" />
		<title>monPortfolio</title>
	</head>

	<body
		class="bg-white scrollspy-example"
		data-bs-spy="scroll"
		data-bs-target="#navbar"
		data-bs-offset="0"
		tabindex="0"
	>
		<header class="py-4">
			<nav
				class="autohide navbar navbar-expand-md bg-light navbar-light fixed-top border-bottom"
			>
				<div id="navbar" class="container">
					<a
						class="navbar-brand text-decoration-none text-dark text-uppercase fw-bold"
						href="index.html"
					>
						<span class="bg-primary bg-gradient p-1 rounded-3 text-light"
							>Jean Marie</span
						>
						Geronimi
					</a>
					<button
						class="navbar-toggler"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#navbarNav"
						aria-controls="navbarNav"
						aria-expanded="false"
						aria-label="Toggle Navbar"
					>
						<span class="navbar-toggler-icon"></span>
					</button>
					<div
						class="collapse navbar-collapse justify-content-end"
						id="navbarNav"
					>
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="#qui-suis-je"> Qui suis-je ? </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#expertises">Expertises</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#portofolio">Portfolio</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#contact">Contact</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<span id="qui-suis-je"></span>
		</header>
		<main>
			<section class="my-5">
				<div class="container">
					<div class="row gy-4 align-items-center">
						<div class="col-12 col-md-6">
							<h1 class="fw-bold my-4 my-md-4">
								Etudiant en développement d'applications Web & mobiles
							</h1>
							<h3 class="fw-light">
								Issue d'une formation en gestion d’infrastructure Informatique
								et fort de diverses expériences dans la réflexion et le
								déploiement de SI, je m'engage à présent dans le domaine du
								développement web afin de parfaire mes connaissances et de créer
								des outils aux services des entreprises.
							</h3>
							<a
								href="#expertises"
								class="btn btn-outline-primary mt-5 expHover"
								>Mon expertise Web</a
							>
						</div>
						<div class="col col-md text-center">
							<img
								class="rounded-3 shadow"
								src="../public/assets/img/profil.jpg"
								alt="code"
								width="60%"
							/>
						</div>
						<span id="expertises"></span>
					</div>
				</div>
			</section>
			<section class="py-5 bg-light">
				<div class="container">
					<h2 class="fw-bold">Mon expertise</h2>
					<h3 class="fw-light">Développement web</h3>
					<div class="row mt-4 gy-4 align-items-center">
						<div class="col-12 col-md-7">
							<div class="mb-3 p-3 bg-white shadow rounded-3">
								<div class="row align-items-center">
									<div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-3">
										<div class="d-flex align-items-center">
											<i class="fa-brands fa-html5 fa-2x me-3 htmlColor"></i>
											<p class="fw-bold m-0">HTML5</p>
										</div>
									</div>
									<div class="col">
										<div class="progress">
											<div
												class="progress-bar progress-bar-striped progress-bar-animated htmlColor-Bg"
												role="progressbar"
												aria-valuenow="75"
												aria-valuemin="0"
												aria-valuemax="100"
												style="width: 75%"
											></div>
										</div>
									</div>
								</div>
							</div>
							<div class="mb-3 p-3 bg-white shadow rounded-3">
								<div class="row align-items-center">
									<div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-3">
										<div class="d-flex align-items-center">
											<i
												class="fa-brands fa-css3-alt fa-2x me-3 text-primary"
											></i>
											<p class="fw-bold m-0">CSS3</p>
										</div>
									</div>
									<div class="col">
										<div class="progress">
											<div
												class="progress-bar"
												role="progressbar"
												aria-valuenow="75"
												aria-valuemin="0"
												aria-valuemax="100"
												style="width: 60%"
											></div>
										</div>
									</div>
								</div>
							</div>
							<div class="mb-3 p-3 bg-white shadow rounded-3">
								<div class="row align-items-center">
									<div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-3">
										<div class="d-flex align-items-center">
											<i
												class="fa-brands fa-js-square fa-2x me-3 text-warning"
											></i>
											<p class="fw-bold m-0">JAVASCRIPT</p>
										</div>
									</div>
									<div class="col">
										<div class="progress">
											<div
												class="progress-bar bg-warning progress-bar-striped progress-bar-animated"
												role="progressbar"
												aria-valuenow="75"
												aria-valuemin="0"
												aria-valuemax="100"
												style="width: 70%"
											></div>
										</div>
									</div>
								</div>
							</div>
							<div class="mb-3 p-3 bg-white shadow rounded-3">
								<div class="row align-items-center">
									<div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-3">
										<div class="d-flex align-items-center">
											<i class="fa-brands fa-bootstrap fa-2x me-3 bsColor"></i>
											<p class="fw-bold m-0">BOOTSTRAP</p>
										</div>
									</div>
									<div class="col">
										<div class="progress">
											<div
												class="progress-bar bsColor-Bg"
												role="progressbar"
												aria-valuenow="75"
												aria-valuemin="0"
												aria-valuemax="100"
												style="width: 55%"
											></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4 offset-md-1">
							<img
								class="shadow rounded-3"
								src="../public/assets/img/code.jpg"
								alt="code"
								width="100%"
							/>
						</div>
					</div>
					<div class="row mt-5 gy-4 align-items-center">
						<div class="col-12 col-md-4">
							<img
								class="shadow rounded-3"
								src="../public/assets/img/design.jpg"
								alt="design"
								width="100%"
							/>
						</div>
						<div class="col-12 col-md offset-md-1">
							<div class="mb-3 p-3 bg-white shadow rounded-3">
								<div class="row align-items-center">
									<div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-4">
										<div class="d-flex align-items-center">
											<i class="fa-brands fa-sass fa-2x me-3 sassColor"></i>
											<p class="fw-bold m-0">SASS</p>
										</div>
									</div>
									<div class="col">
										<div class="progress">
											<div
												class="progress-bar progress-bar-striped progress-bar-animated sassColor-Bg"
												role="progressbar"
												aria-valuenow="75"
												aria-valuemin="0"
												aria-valuemax="100"
												style="width: 30%"
											></div>
										</div>
									</div>
								</div>
							</div>
							<div class="mb-3 p-3 bg-white shadow rounded-3">
								<div class="row align-items-center">
									<div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-4">
										<div class="d-flex align-items-center">
											<img
												class="jqueryColor me-3"
												width="15%"
												src="../public/assets/img/jquery.png"
												alt="jquery-logo"
											/>
											<p class="fw-bold m-0">JQUERY</p>
										</div>
									</div>
									<div class="col">
										<div class="progress">
											<div
												class="progress-bar jqueryColor-Bg"
												role="progressbar"
												aria-valuenow="75"
												aria-valuemin="0"
												aria-valuemax="100"
												style="width: 90%"
											></div>
										</div>
									</div>
								</div>
							</div>
							<div class="mb-3 p-3 bg-white shadow rounded-3">
								<div class="row align-items-center">
									<div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-4">
										<div class="d-flex align-items-center">
											<img
												class="me-2"
												src="../public/assets/img/ajax_logo.png"
												width="20%"
												alt="ajax_logo"
											/>
											<p class="fw-bold m-0">AJAX</p>
										</div>
									</div>
									<div class="col">
										<div class="progress">
											<div
												class="progress-bar progress-bar-striped progress-bar-animated ajaxColor-Bg"
												role="progressbar"
												aria-valuenow="75"
												aria-valuemin="0"
												aria-valuemax="100"
												style="width: 90%"
											></div>
										</div>
									</div>
								</div>
							</div>
							<div class="mb-3 p-3 bg-white shadow rounded-3">
								<div class="row align-items-center">
									<div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-4">
										<div class="d-flex align-items-center">
											<img
												class="me-3"
												src="../public/assets/img/Tailwind_CSS_Logo.png"
												width="15%"
												alt="tailwindcss-logo"
											/>
											<p class="fw-bold m-0">TAILWINDCSS</p>
										</div>
									</div>
									<div class="col">
										<div class="progress">
											<div
												class="progress-bar tailColor-Bg"
												role="progressbar"
												aria-valuenow="75"
												aria-valuemin="0"
												aria-valuemax="100"
												style="width: 40%"
											></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt-5 gy-4 align-items-center">
						<div class="col-12 col-md-7">
							<div class="mb-3 p-3 bg-white shadow rounded-3">
								<div class="row align-items-center">
									<div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-3">
										<div class="d-flex align-items-center">
											<i class="fa-brands fa-python fa-2x me-3 pyColor"></i>
											<p class="fw-bold m-0">PYTHON</p>
										</div>
									</div>
									<div class="col">
										<div class="progress">
											<div
												class="progress-bar progress-bar-striped progress-bar-animated pyColor-Bg"
												role="progressbar"
												aria-valuenow="75"
												aria-valuemin="0"
												aria-valuemax="100"
												style="width: 45%"
											></div>
										</div>
									</div>
								</div>
							</div>
							<div class="mb-3 p-3 bg-white shadow rounded-3">
								<div class="row align-items-center">
									<div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-3">
										<div class="d-flex align-items-center">
											<i class="fa-brands fa-java fa-2x me-3 javaColor"></i>
											<p class="fw-bold m-0">JAVA</p>
										</div>
									</div>
									<div class="col">
										<div class="progress">
											<div
												class="progress-bar javaColor-Bg"
												role="progressbar"
												aria-valuenow="75"
												aria-valuemin="0"
												aria-valuemax="100"
												style="width: 35%"
											></div>
										</div>
									</div>
								</div>
							</div>
							<div class="mb-3 p-3 bg-white shadow rounded-3">
								<div class="row align-items-center">
									<div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-3">
										<div class="d-flex align-items-center">
											<img
												src="../public/assets/img/flask_logo.png"
												class="me-3"
												width="15%"
												alt="flask_logo"
											/>
											<p class="fw-bold m-0">FLASK</p>
										</div>
									</div>
									<div class="col">
										<div class="progress">
											<div
												class="progress-bar bg-dark progress-bar-striped progress-bar-animated"
												role="progressbar"
												aria-valuenow="75"
												aria-valuemin="0"
												aria-valuemax="100"
												style="width: 30%"
											></div>
										</div>
									</div>
								</div>
							</div>
							<div class="mb-3 p-3 bg-white shadow rounded-3">
								<div class="row align-items-center">
									<div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-3">
										<div class="d-flex align-items-center">
											<i class="fa-solid fa-database fa-2x me-3 sqlColor"></i>
											<p class="fw-bold m-0">SQL</p>
										</div>
									</div>
									<div class="col">
										<div class="progress">
											<div
												class="progress-bar sqlColor-Bg"
												role="progressbar"
												aria-valuenow="75"
												aria-valuemin="0"
												aria-valuemax="100"
												style="width: 60%"
											></div>
										</div>
									</div>
								</div>
							</div>
							<!-- <div class="mb-3 p-3 bg-white shadow rounded-3">
                        <div class="row align-items-center">
                            <div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-3">
                                <div class="d-flex align-items-center">
                                    <i class="fa-brands fa-sass fa-2x me-3 sassColor"></i>                                        
                                    <p class="fw-bold m-0">SASS</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated sassColor-Bg" 
                                    role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" 
                                    style="width: 5%"></div>
                                </div>
                            </div>
                        </div>
                    </div> -->
						</div>
						<div class="col-12 col-md-4 offset-md-1">
							<img
								class="shadow rounded-3"
								src="../public/assets/img/code2.jpg"
								alt="code"
								width="100%"
							/>
						</div>
					</div>
					<div class="row mt-5 gy-4 align-items-center">
						<div class="col-12 col-md-4">
							<img
								class="shadow rounded-3"
								src="../public/assets/img/devops.jpg"
								alt="design"
								width="100%"
							/>
						</div>
						<div class="col-12 col-md offset-md-1">
							<div class="mb-3 p-3 bg-white shadow rounded-3">
								<div class="row align-items-center">
									<div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-3">
										<div class="d-flex align-items-center">
											<i class="fa-brands fa-php fa-2x me-3 phpColor"></i>
											<p class="fw-bold m-0">PHP</p>
										</div>
									</div>
									<div class="col">
										<div class="progress">
											<div
												id="portofolio"
												class="progress-bar progress-bar-striped progress-bar-animated phpColor-Bg"
												role="progressbar"
												aria-valuenow="75"
												aria-valuemin="0"
												aria-valuemax="100"
												style="width: 75%"
											></div>
										</div>
									</div>
								</div>
							</div>
							<div class="mb-3 p-3 bg-white shadow rounded-3">
								<div class="row align-items-center">
									<div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-3">
										<div class="d-flex align-items-center">
											<i class="fa-brands fa-symfony fa-2x me-3 SymColor"></i>
											<p class="fw-bold m-0">Symfony</p>
										</div>
									</div>
									<div class="col">
										<div class="progress">
											<div
												class="progress-bar SymColor-Bg"
												role="progressbar"
												aria-valuenow="75"
												aria-valuemin="0"
												aria-valuemax="100"
												style="width: 60%"
											></div>
										</div>
									</div>
								</div>
							</div>
							<div class="mb-3 p-3 bg-white shadow rounded-3">
								<div class="row align-items-center">
									<div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-3">
										<div class="d-flex align-items-center">
											<i class="fa-brands fa-docker fa-2x me-2 dockColor"></i>
											<p class="fw-bold m-0">Docker</p>
										</div>
									</div>
									<div class="col">
										<div class="progress">
											<div
												class="progress-bar progress-bar-striped progress-bar-animated dockerColor-Bg"
												role="progressbar"
												aria-valuenow="75"
												aria-valuemin="0"
												aria-valuemax="100"
												style="width: 50%"
											></div>
										</div>
									</div>
								</div>
							</div>
							<div class="mb-3 p-3 bg-white shadow rounded-3">
								<div class="row align-items-center">
									<div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-3">
										<div class="d-flex align-items-center">
											<img
												class="me-4"
												src="../public/assets/img/twig.png"
												alt=""
												style="width: 15%"
											/>
											<p class="fw-bold m-0">Twig</p>
										</div>
									</div>
									<div class="col">
										<div class="progress">
											<div
												class="progress-bar twigColor-Bg"
												role="progressbar"
												aria-valuenow="75"
												aria-valuemin="0"
												aria-valuemax="100"
												style="width: 70%"
											></div>
										</div>
									</div>
								</div>
							</div>
							<!--<div class="mb-3 p-3 bg-white shadow rounded-3">
                        <div class="row align-items-center">
                            <div class="col-5 col-sm-4 col-md-5 col-lg-4 col-xl-3">
                                <div class="d-flex align-items-center">
                                    <i class="fa-solid fa-database fa-1x me-3 sqlColor"></i>
                                    <p class="fw-bold m-0">SQL</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar sqlColor-Bg"
                                         role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                         style="width: 60%"></div>
                                </div>
                            </div>
                        </div>
                    </div>-->
						</div>
					</div>
				</div>
			</section>
			<section class="py-5">
				<div class="container">
					<h2 class="fw-bold">Mon portfolio</h2>
					<h3 class="fw-light fs-5">Projets perso et pro</h3>
					<div class="row mt-4 gy-4 gy-md-4">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
							<div class="card card-hover text-light P1">
								<img
									src="../public/assets/img/icescream.PNG"
									class="card-img"
									alt="carte1"
								/>
								<a
									href="https://icescream.jmgeronimi.fr"
									target="_blank"
									class="text-light"
								>
									<div class="card-img-overlay bg-dark bg-opacity-50">
										<h5 class="card-title">IceScream</h5>
										<p class="card-text">Initiation à Javascript glacée!</p>
									</div>
								</a>
								<!-- <div class="offcanvas offcanvas-bottom h-100" tabindex="-1" id="infoProjet1"
                            aria-labelledby="titleProjet1">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title text-dark" id="titleProjet1">IceScream</h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                    aria-label="Close">
                                </button>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <a class="col-xs-8 col-md-3 col-lg-3 offset-md-2 offset-lg-2 gy-4 gy-md-0 btn btn-outline-primary P1">Accès au site ici !</a>
                                    <a class="col-xs-8 col-md-3 col-lg-3 offset-md-2 offset-lg-2 gy-4 gy-md-0 btn btn-outline-success C1"><i class="fa-solid fa-code"></i></a>
                                </div>
                            </div>
                            <div class="offcanvas-body">
                                <div id="IceScream" class="carousel slide carousel-fade h-100" data-bs-ride="carousel" data-bs-touch="true">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    </div>
                                    <div class="carousel-inner h-100 rounded-3">
                                        <div class="carousel-item h-100 active" data-bs-interval="3000">
                                            <img src="https://picsum.photos/1920/1080?random=1" class="d-block w-100" alt="carte1">
                                        </div>
                                        <div class="carousel-item h-100" data-bs-interval="3000">
                                            <img src="https://picsum.photos/1920/1080?random=2" class="d-block w-100" alt="carte1">
                                        </div>
                                        <div class="carousel-item h-100" data-bs-interval="3000">
                                            <img src="https://picsum.photos/1920/1080?random=3" class="d-block w-100" alt="carte1">
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#IceScream"
                                        data-bs-slide="prev">
                                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                      <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#IceScream"
                                        data-bs-slide="next">
                                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                      <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div> -->
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
							<div class="card text-light card-hover">
								<img
									src="../public/assets/img/webd.PNG"
									class="card-img"
									alt="carte2"
								/>
								<a
									href="https://webd-project.netlify.app"
									target="_blank"
									class="text-light"
								>
									<div class="card-img-overlay bg-dark bg-opacity-50">
										<h5 class="card-title">WebDesigner</h5>
										<p class="card-text">
											CoOp Dev & WebD - Designed by Fiorina.
										</p>
									</div>
								</a>
								<!-- <div class="offcanvas offcanvas-bottom h-100" tabindex="-1" id="infoProjet2"
                        aria-labelledby="titleProjet2">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title text-dark" id="titleProjet2">WebDesigner</h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                        </div>
                        <div class="container">
                            <div class="row">
                                <a class="col-xs-8 col-md-3 col-lg-3 offset-md-2 offset-lg-2 gy-4 gy-md-0 btn btn-outline-primary P1">Accès au site ici !</a>
                                <a class="col-xs-8 col-md-3 col-lg-3 offset-md-2 offset-lg-2 gy-4 gy-md-0 btn btn-outline-success C1"><i class="fa-solid fa-code"></i></a>
                            </div>
                        </div>
                            <div class="offcanvas-body">
                                <div id="carouselProjet2" class="carousel slide carousel-fade h-100" data-bs-ride="carousel" data-bs-touch="true">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    </div>
                                    <div class="carousel-inner h-100 rounded-3">
                                        <div class="carousel-item h-100 active" data-bs-interval="3000">
                                            <img src="../public/assets/img/webD1.png" class="d-block w-100" alt="carte2">
                                        </div>
                                        <div class="carousel-item h-100" data-bs-interval="3000">
                                            <img src="../public/assets/img/webD2.png"d-block w-100" alt="carte2">
                                        </div>
                                        <div class="carousel-item h-100" data-bs-interval="3000">
                                            <img src="../public/assets/img/webD3.png" class="d-block w-100" alt="carte2">
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselProjet2"
                                        data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselProjet2"
                                        data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>                             -->
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
							<div class="card text-light card-hover">
								<img
									src="../public/assets/img/instantkf.PNG"
									class="card-img"
									alt="carte3"
								/>
								<a
									href="https://instantcafe.fun"
									target="_blank"
									class="text-light"
								>
									<div class="card-img-overlay bg-dark bg-opacity-50">
										<h5 class="card-title">InstantCafé</h5>
										<p class="card-text">
											Projet perso de dashboard en cours de construction.
										</p>
									</div>
								</a>
								<!-- <div class="offcanvas offcanvas-bottom h-100" tabindex="-1" id="infoProjet3"
                            aria-labelledby="titleProjet3">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title text-dark" id="titleProjet3">InstantCafé</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <a class="col-xs-8 col-md-3 col-lg-3 offset-md-2 offset-lg-2 gy-4 gy-md-0 btn btn-outline-primary P1">Accès au site ici !</a>
                                    <a class="col-xs-8 col-md-3 col-lg-3 offset-md-2 offset-lg-2 gy-4 gy-md-0 btn btn-outline-success C1"><i class="fa-solid fa-code"></i></a>
                                </div>
                            </div>
                            <div class="offcanvas-body">
                                <div id="carouselProjet3" class="carousel slide carousel-fade h-100" data-bs-ride="carousel" data-bs-touch="true">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    </div>
                                    <div class="carousel-inner h-100 rounded-3">
                                        <div class="carousel-item h-100 active" data-bs-interval="3000">
                                            <img src="../public/assets/img/instCap1.png" class="d-block w-100" alt="carte3">
                                        </div>
                                        <div class="carousel-item h-100" data-bs-interval="3000">
                                            <img src="../public/assets/img/instCap2.png" class="d-block w-100" alt="carte3">
                                        </div>
                                        <div class="carousel-item h-100" data-bs-interval="3000">
                                            <img src="../public/assets/img/instCap3.png" class="d-block w-100" alt="carte3">
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselProjet3"
                                        data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselProjet3"
                                        data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>                             -->
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-m-6 col-lg-4">
							<div class="card text-light card-hover">
								<img
									src="../public/assets/img/flask.PNG"
									class="card-img"
									alt="flask-app"
								/>
								<a
									href="https://mynote.jmgeronimi.fr/"
									target="_blank"
									class="text-light"
								>
									<div class="card-img-overlay bg-dark bg-opacity-50">
										<h5 class="card-title">MyNote by Flask</h5>
										<p class="card-text">
											Projet réalisé en Python avec le framework Flask. <br />
											Gestionnaire de notes avec authentification et profil
											utilisateur
										</p>
									</div>
								</a>
								<!-- <div class="offcanvas offcanvas-bottom h-100" tabindex="-1" id="infoProjet4"
                        aria-labelledby="titleProjet4">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title text-dark" id="titleProjet4">MyNote by AfloFlask</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <a class="col-xs-8 col-md-3 col-lg-3 offset-md-2 offset-lg-2 gy-4 gy-md-0 btn btn-outline-primary P1">Accès au site ici !</a>
                                    <a class="col-xs-8 col-md-3 col-lg-3 offset-md-2 offset-lg-2 gy-4 gy-md-0 btn btn-outline-success C1"><i class="fa-solid fa-code"></i></a>
                                </div>
                            </div>
                            <div class="offcanvas-body">
                                <div id="carouselProjet4" class="carousel slide carousel-fade h-100" data-bs-ride="carousel" data-bs-touch="true">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    </div>
                                    <div class="carousel-inner h-100 rounded-3">
                                        <div class="carousel-item h-100 active" data-bs-interval="3000">
                                            <img src="https://picsum.photos/1920/1080?random=1" class="d-block w-100" alt="carte4">
                                        </div>
                                        <div class="carousel-item h-100" data-bs-interval="3000">
                                            <img src="https://picsum.photos/1920/1080?random=2" class="d-block w-100" alt="carte4">
                                        </div>
                                        <div class="carousel-item h-100" data-bs-interval="3000">
                                            <img src="https://picsum.photos/1920/1080?random=3" class="d-block w-100" alt="carte4">
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselProjet4"
                                        data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselProjet4"
                                        data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>                             -->
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-m-6 col-lg-4">
							<div class="card card-hover text-light">
								<img
									src="../public/assets/img/morp.PNG"
									class="card-img"
									alt="carte5"
								/>
								<a
									href="https://mcanvas.jmgeronimi.fr"
									target="_blank"
									class="text-light"
								>
									<div class="card-img-overlay bg-dark bg-opacity-50">
										<h5 class="card-title">Morpion Canvas</h5>
										<p class="card-text">
											Petit jeu du Morpion réalisé en JS et Canvas.
										</p>
									</div>
								</a>
								<!-- <div class="offcanvas offcanvas-bottom h-100" tabindex="-1" id="infoProjet5"
                        aria-labelledby="titleProjet5">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title text-dark" id="titleProjet5">Morpion Canvas</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <a class="col-xs-8 col-md-3 col-lg-3 offset-md-2 offset-lg-2 gy-4 gy-md-0 btn btn-outline-primary P1">Accès au site ici !</a>
                                    <a class="col-xs-8 col-md-3 col-lg-3 offset-md-2 offset-lg-2 gy-4 gy-md-0 btn btn-outline-success C1"><i class="fa-solid fa-code"></i></a>
                                </div>
                            </div>
                            <div class="offcanvas-body">
                                <div id="carouselProjet5" class="carousel slide carousel-fade h-100" data-bs-ride="carousel" data-bs-touch="true">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    </div>
                                    <div class="carousel-inner h-100 rounded-3">
                                        <div class="carousel-item h-100 active" data-bs-interval="3000">
                                            <img src="https://picsum.photos/1920/1080?random=1" class="d-block w-100" alt="carte5">
                                        </div>
                                        <div class="carousel-item h-100" data-bs-interval="3000">
                                            <img src="https://picsum.photos/1920/1080?random=2" class="d-block w-100" alt="carte5">
                                        </div>
                                        <div class="carousel-item h-100" data-bs-interval="3000">
                                            <img src="https://picsum.photos/1920/1080?random=3" class="d-block w-100" alt="carte5">
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselProjet5"
                                        data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselProjet5"
                                        data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>                             -->
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-m-6 col-lg-4">
							<div class="card card-hover text-light">
								<img
									src="../public/assets/img/hauto.PNG"
									class="card-img"
									alt="carte6"
								/>
								<a
									href="https://hamsterauto.com"
									target="_blank"
									class="text-light"
								>
									<div class="card-img-overlay bg-dark bg-opacity-50">
										<h5 class="card-title">HamsterAuto by Team FromScratch</h5>
										<p class="card-text">
											Projet de fin d'étude Bac+2 ESIA Aflokkat en collaboration
											avec Mr Pierre GUIDERDONI.
										</p>
									</div>
								</a>
								<!-- <div class="offcanvas offcanvas-bottom h-100" tabindex="-1" id="infoProjet6"
                            aria-labelledby="titleProjet6">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title text-dark" id="titleProjet6">Projet 6</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="row">
                                <div class="col-xs-8 col-md-3 col-lg-3 offset-md-2 offset-lg-2 gy-4 gy-md-0">
                                    <a class="btn btn-outline-primary P1">Accès au site ici !</a>
                                </div>
                                <a class="col-xs-8 col-md-3 col-lg-3 offset-md-2 offset-lg-2 gy-4 gy-md-0 btn btn-outline-success C1"><i class="fa-solid fa-code"></i></a>
                            </div>
                            <div class="offcanvas-body">
                                <div id="carouselProjet6" class="carousel slide carousel-fade h-100" data-bs-ride="carousel" data-bs-touch="true">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    </div>
                                    <div class="carousel-inner h-100 rounded-3">
                                        <div class="carousel-item h-100 active" data-bs-interval="3000">
                                            <img src="https://picsum.photos/1920/1080?random=1" class="d-block w-100" alt="carte6">
                                        </div>
                                        <div class="carousel-item h-100" data-bs-interval="3000">
                                            <img src="https://picsum.photos/1920/1080?random=2" class="d-block w-100" alt="carte6">
                                        </div>
                                        <div class="carousel-item h-100" data-bs-interval="3000">
                                            <img src="https://picsum.photos/1920/1080?random=3" class="d-block w-100" alt="carte6">
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselProjet6"
                                        data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselProjet6"
                                        data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>                             -->
							</div>
						</div>
						<span id="contact"></span>
					</div>
				</div>
			</section>

			<section class="py-5 bg-light">
				<div class="container">
					<h2 class="fw-bold">Un projet de création web ?</h2>
					<h3 class="fw-light">Allons en discuter autour d'un café</h3>
					<div class="row mt-5 gy-4 align-items-center">
						<div class="col-12 col-md-3 offset-md-1">
							<!-- <img class="w-100 shadow rounded-3" src="../public/assets/img/grab-a-coffee.jpg" alt="grab-a-coffee" width="100%"> -->
							<div class="cup mx-auto mb-4 mx-md-4 my-md-5">
								<div class="handle shadow"></div>
							</div>
						</div>
						<div class="col-12 col-md-6 offset-md-2">
							<form
								action="javascript:formContact();"
								method="POST"
								class="row gy-4"
							>
								<div class="col-6">
									<label for="inputPrenom" class="form-label">Prénom</label>
									<input
										type="text"
										class="field form-control"
										id="inputPrenom"
										aria-describedby="prenomHelp"
									/>
								</div>
								<div class="col-6">
									<label for="inputNom" class="form-label">Nom</label>
									<input
										type="text"
										class="field form-control"
										id="inputNom"
										aria-describedby="nomHelp"
									/>
								</div>
								<div class="col-12">
									<label for="inputEmail" class="form-label"
										>Adresse mail</label
									>
									<input
										type="email"
										class="field form-control"
										id="inputEmail"
										aria-describedby="emailHelp"
									/>
								</div>
								<div class="col-12">
									<label for="inputMessage" class="form-label">Message</label>
									<textarea
										class="field form-control"
										id="inputMessage"
										rows="3"
									></textarea>
								</div>
								<div class="col-12">
									<div class="form-check">
										<input
											class="form-check-input"
											type="checkbox"
											id="flexCheckDefault"
											required
										/>
										<label class="form-check-label" for="flexCheckDefault"
											>En cochant cette case, vous acceptez les CGU du site.
										</label>
									</div>
								</div>
								<div class="col-3">
									<button type="submit" class="btn btn-primary w-100" id="btn-submit">
										Envoyer
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
		</main>
		<footer class="border-top">
			<div class="container py-5">
				<div class="row gy-4 gy-md-4 align-items-center">
					<div class="col-12 col-sm-12 col-md-4 text-center text-md-start">
						<a class="navbar-brand text-dark text-uppercase fw-bold" href="#">
							<span class="bg-primary bg-gradient p-1 rounded-3 text-light"
								>Jean Marie</span
							>
							Geronimi
						</a>
					</div>
					<div class="col-12 col-sm col-md-4 text-center text-md-center">
						<a
							class="text-dark"
							type="button"
							data-bs-toggle="modal"
							data-bs-target="#mentionsLegales"
							>Mentions légales</a
						>
					</div>
					<div class="col col-sm col-md text-center text-md-end">
						<ul class="list-inline mb-0">
							<li class="list-inline-item">
								<a
									href="https://twitter.com/jmgeronimi"
									target="_blank"
									class="text-decoration-none text-dark"
								>
									<i class="fa-brands fa-socials fa-twitter-square fa-2x"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a
									href="https://github.com/s3kiro23"
									target="_blank"
									class="text-decoration-none mx-4 text-dark"
								>
									<i class="fa-brands fa-socials fa-git-square fa-2x"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a
									href="www.linkedin.com/in/jmgeronimi"
									target="_blank"
									class="text-decoration-none text-dark"
								>
									<i class="fa-brands fa-socials fa-linkedin fa-2x"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Modal -->
			<div
				class="modal fade"
				id="mentionsLegales"
				tabindex="-1"
				aria-labelledby="mentionsLegales"
				aria-hidden="true"
			>
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="mentionsLegales">Mentions légales</h5>
							<button
								type="button"
								class="btn-close"
								data-bs-dismiss="modal"
								aria-label="Close"
							></button>
						</div>
						<div class="modal-body">
							<div>
								<h4>Webmaster</h4>
								<p>Jean Marie Geronimi</p>
							</div>
							<div>
								<h4>Hébergement</h4>
								<p>
									Hébergeur : OVH<br />
									Siège social : 2 rue Kellermann - 59100 Roubaix - France<br />
									RCS Lille Métropole 424 761 419 00045<br />
									Code APE 2620Z<br />
									SAS au capital de 10 174 560 €<br />
									RCS : Lille Métropole – SIRET : 424 761 419 00045<br />
									TVA : FR 22 424 761 419
								</p>
							</div>
							<div>
								<h4>Données personnelles</h4>
								<p>
									Les seules informations recueillies sur ce site sont celles
									données par le formulaire de contact. Elles ne sont utilisées
									que pour vous répondre et ne sont pas stockées dans des
									fichiers numériques et ne sont ni revendues ni communiqées à
									des tiers à des fins commerciales et/ou publicitaires.
									<br />
									Conformément aux lois « Informatique & Liberté » et « RGPD »,
									vous pouvez nous contacter pour vous assurer de la bonne
									conformité à ces déclarations.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<btn-top-component></btn-top-component>

		<!-- Javascript -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
			crossorigin="anonymous"
		></script>
		<script
			src="https://code.jquery.com/jquery-3.6.0.min.js"
			integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			crossorigin="anonymous"
		></script>
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="../public/js/index.js"></script>
		<script src="../public/js/backTopBtn.js"></script>
		<!-- Font-awesome -->
		<script
			src="https://kit.fontawesome.com/9414e04596.js"
			crossorigin="anonymous"
		></script>
	</body>
</html>
